{% extends 'shop/basic.html' %}

{% block title %}Florange | Indias store{% endblock %}
	{% block css %}
		.middle-text {
			text-align: center;
		}
		.logo-top {
			height: 50px;
			width: 70px;
		}
		.logo-bottom {
			height: 70px;
			width: 120px;
		}
	{% endblock %}

{% block body %}
<!--    carousel-->
{% load static %}
<div class="carousel slide carousel-fade mt-3" data-bs-ride="carousel" id="carouselExampleFade">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="{% static 'shop/image-1.jpg' %}">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="{% static 'shop/image-2.jpg' %}">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="{% static 'shop/image-3.jpg' %}">
		</div>
	</div>
	<button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleFade" type="button">
		<span aria-hidden="true" class="carousel-control-prev-icon"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleFade" type="button">
		<span aria-hidden="true" class="carousel-control-next-icon"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<!--    main body-->

<h2 class="middle-text container mt-5 mb-5">Shop by category</h2>

<div class="card-group container mt-3">
	<div class="card">
		<img alt="..." class="card-img-top" src="{% static 'shop/products/prod1.jpg' %}">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content. This content is a little bit longer.</p>
		</div>
	</div>
	<div class="card">
		<img alt="..." class="card-img-top" src="{% static 'shop/products/prod2.jpg' %}">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		</div>
	</div>
	<div class="card">
		<img alt="..." class="card-img-top" src="{% static 'shop/products/prod3.jpg' %}">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content. This card has even longer content than the first to show that equal height action.</p>
		</div>
	</div>
</div>

<div class="card-group container mt-3">
	<div class="card">
		<img alt="..." class="card-img-top" src="{% static 'shop/products/prod4.jpg' %}">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content. This content is a little bit longer.</p>
		</div>
	</div>
	<div class="card">
		<img alt="..." class="card-img-top" src="{% static 'shop/products/prod5.jpg' %}">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		</div>
	</div>
	<div class="card">
		<img alt="..." class="card-img-top" src="{% static 'shop/products/prod6.jpg' %}">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content. This card has even longer content than the first to show that equal height action.</p>
		</div>
	</div>
</div>

<div class="container middle-text mt-5">
	<h3>For best experience on Florange</h3>
	<button class="btn btn-outline-dark me-2" type="button">Login</button>
</div>

{% endblock %}
