<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysed text</title>
</head>
<body>
    <h1>Your analysed text is</h1><br>
    <p><b>After removing the punctuation marks: </b>{{ puncremoved }}</p>
    <p><b>After removing the new line: </b>{{ nlremoved }}</p>
    <p><b>After removing all the spaces: </b>{{ spaceremoved }}</p>
    <p><b>After capitalising all the characters: </b>{{ capsall }}</p>
    <p><b>No of characters present in the input statement: </b>{{ charcount }}</p>
</body>
</html>