{% extends 'home/basic.html' %}

{% block title %}Home | ProKabaddi{% endblock %}

{% block css %}
	.below-header-part {
		height: 75vh;
	}
	.above-footer-img {
		text-align: center;
		margin-top: 100px;
		margin-bottom: 40px;
	}
	.below-table {
		text-align: center;
		margin-top: 50px;
		margin-bottom: 40px;
	}
	#winners {
		text-decoration: underline;
	}
	.album {
		margin-top: 200px;
	}
	.player-images {
		height: 300px;
	}
	.text-raiders-section {
		text-align: center;
		margin-top: -150px;
		margin-bottom: 30px;
	}
	.text-defenders-section {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
{% endblock %}

{% block content %}
{% load static %}
<div class="below-header-part container mt-3">
	<img src="{% static 'home/img.jpg' %} " width="100%">
</div>

<main>
	<div class="album bg-light">
		<div class="container">
			<h2 class="text-raiders-section">Top raiders of all time</h2>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for i in top_raiders %}
				<div class="col">
					<div class="card shadow-sm">
						<img class="player-images" src="/media/{{ i.image }}">
						
						<div class="card-body">
							<p class="card-text"><strong>{{ i.name }}</strong><br>{{ i.description }}</p>
							<div class="d-flex justify-content-between align-items-center">
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		
		<div class="container">
			<h2 class="text-defenders-section">Top Defenders of all time</h2>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for i in top_defenders %}
				<div class="col">
					<div class="card shadow-sm">
						<img class="player-images" src="/media/{{ i.image }}">
						
						<div class="card-body">
							<p class="card-text"><strong>{{ i.name }}</strong><br>{{ i.description }}</p>
							<div class="d-flex justify-content-between align-items-center">
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

</main>

<h2 class="below-table">Winners of Pro Kabaddi league season 7 <strong id="winners">Bengal Warriors</strong></h2>

<div class="above-footer-part container d-flex justify-content-center">
	<img src="{% static 'home/img2.jpg' %} ">
</div>

<h2 class="above-footer-img">Final standings as of end of season 7</h2>

<table class="container table table-light table-striped">
	<thead>
	<tr>
		<th scope="col">Rank</th>
		<th scope="col">Name</th>
		<th scope="col">Played</th>
		<th scope="col">Won</th>
		<th scope="col">Loss</th>
		<th scope="col">Tie</th>
	</tr>
	</thead>
	<tbody>
	{% for i in points_table %}
	<tr>
		<th scope="row">{{ i.rank }}</th>
		<td>{{ i.name }}</td>
		<td>{{ i.played }}</td>
		<td>{{ i.won }}</td>
		<td>{{ i.loss }}</td>
		<td>{{ i.tie }}</td>
	</tr>
	{% endfor %}
	
	</tbody>
</table>
{% endblock %}