{% extends 'home/basic.html' %}

{% block css %}
		.block-image {
			height: 50vh;
			width: 100%;
			margin-top: -70px;
			margin-bottom: 10px;
		}
		.album {
			margin-top: -200px;
		}
		.player-images {
			height: 250px;
		}
{% endblock %}

{% block content %}
<main>
	{% load static %}
	<section class="block-image py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light"><strong>Hall of Fame</strong></h1>
				<p class="lead text-muted"><strong>Some great players kabaddi has seen.</strong><br>
					Records don't make champions, the amount of hardwork one does and is willing to bet everything
					makes.
				</p>
			</div>
		</div>
	</section>
	
	<div class="album bg-light">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for i in players %}
				<div class="col">
					<div class="card shadow-sm">
						<img class="player-images" src="/media/{{ i.image }}">
						<div class="card-body">
							<p class="card-text"><strong>{{ i.name }}</strong><br>{{ i.description }}
							</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

</main>

{% endblock %}
