{% extends 'home/basic.html' %}

{% block title %}Teams | ProKabaddi{% endblock %}

{% block css %}
		.featurette-divider {
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.poster-img {
			height: 400px;
			width: 500px;
		}
{% endblock %}

{% block content %}

<main>
	{% load static %}
	<div class="carousel container mt-3 mb-3 slide" data-bs-ride="carousel" id="carouselExampleInterval">
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="10000">
				<img alt="..." class="d-block w-100" src="{% static 'home/teams/img-1.jpg' %}">
			</div>
			<div class="carousel-item" data-bs-interval="2000">
				<img alt="..." class="d-block w-100" src="{% static 'home/teams/img-2.jpg' %}">
			</div>
			<div class="carousel-item">
				<img alt="..." class="d-block w-100" src="{% static 'home/teams/img-3.jpg' %}">
			</div>
		</div>
		<button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleInterval"
		        type="button">
			<span aria-hidden="true" class="carousel-control-prev-icon"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleInterval"
		        type="button">
			<span aria-hidden="true" class="carousel-control-next-icon"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	
	
	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->
	
	<div class="container marketing">
		
		<!-- Three columns of text below the carousel -->
		
		
		<!-- START THE FEATURETTES -->
		
		<hr class="featurette-divider">
		
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Most Successfull team.<br> <span class="text-muted">{{ team_info.0.name }}</span>
				</h2>
				<p class="lead">{{ team_info.0.description }}</p>
			</div>
			<div class="col-md-5">
				<img class="poster-img" src="/media/{{ team_info.0.image }}">
			</div>
		</div>
		
		<hr class="featurette-divider">
		
		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<h2 class="featurette-heading">Here comes the next giants.<br> <span class="text-muted">{{ team_info.1.name }}</span>
				</h2>
				<p class="lead">{{ team_info.1.description }}</p>
			</div>
			<div class="col-md-5 order-md-1">
				<img class="poster-img" src="/media/{{ team_info.1.image }}">
			</div>
		</div>
		
		<hr class="featurette-divider">
		
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Followed by them, here goes.<br> <span class="text-muted">{{ team_info.2.name }}</span>
				</h2>
				<p class="lead">{{ team_info.2.description }}</p>
			</div>
			<div class="col-md-5">
				<img class="poster-img" src="/media/{{ team_info.2.image }}">
			</div>
		</div>
		
		<!-- /END THE FEATURETTES -->
	
	</div><!-- /.container -->
	
{% endblock %}
